<header class="header">
    <div class="header__logo">
      <img src="/assets/img/logo.png" alt="logo" [routerLink]="['/']">
    </div>
    <div class="header__search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Try find somethink" />
    </div>
    <div class="header__user-block">
      <div class="header__user-block__login">
        <img src="{{user?.avatar}}" alt="ava 1" class="img__circle">
        <p>{{user?.username}}</p>
        <i class="fa fa-sign-out fa-2x" (click)="logOut()"></i>
      </div>
      <div class="header__user-block__nav">
        <div class="header__user-block__nav-left"><a [routerLink]="['/add-advert']">Add new post</a></div>
        <span class="header__user-block__center"></span>
        <div class="header__user-block__nav-right"><a [routerLink]="['/profile']">Profile</a></div>
      </div>
    </div>
  </header>
