<section class="login">
    <div class="login__left"></div>

    <div class="login__sidebar">
      <div class="login__sidebar__logo">
        <img src="../../assets/login-page/logo.png" alt="logo">
      </div>
      <div class="login__sidebar__form login__sidebar__sign">
        <button type="button"
                class="login__sidebar__sign__in"
                [disabled]="statusLogin"
                (click)="changeStatusLogin()"
                [class.active]="statusLogin"
        >Sign In
        </button>
        <button type="button"
                class="login__sidebar__sign__up"
                [disabled]="!statusLogin"
                (click)="changeStatusSign()"
                [class.active]="!statusLogin"
        >Sign Up
        </button>
      </div>
      <form novalidate
            class="login__sidebar__form"
            *ngIf="statusLogin"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmitLogin()">
        <div class="login__sidebar__input">
          <label for="email" ></label>
          <input type="text" name="email" placeholder="  Email" formControlName="email">
          <div *ngIf="errors?.email" class="errors">
            <ul *ngFor="let error of errors?.email">
              <li>{{error}}</li>
            </ul>
          </div>
        </div>
        <div class="login__sidebar__input">
          <label for="password" ></label>
          <input type="password" name="password" placeholder="  Password" formControlName="password">
          <div *ngIf="errors?.non_field_errors" class="errors">
            <ul *ngFor="let error of errors?.non_field_errors">
              <li>{{error}}</li>
            </ul>
          </div>
        </div>
        <button type="submit" class="login__sidebar__login" [disabled]="!loginForm.valid">Login</button>
        <p>{{ loginForm.value | json }}</p>
      </form>
      <form novalidate
            class="login__sidebar__form"
            *ngIf="!statusLogin"
            [formGroup]="signForm"
            (ngSubmit)="onSubmitSign()">
        <div class="login__sidebar__input">
          <label for="email" ></label>
          <input type="text" name="email" placeholder="  Email" formControlName="email">
          <div *ngIf="errors?.email" class="errors">
            <ul *ngFor="let error of errors?.email">
              <li>{{error}}</li>
            </ul>
          </div>
        </div>
        <div class="login__sidebar__input">
          <label for="password" ></label>
          <input type="password" name="password" placeholder="  Password" formControlName="password">
          <div *ngIf="errors?.password1" class="errors">
            <ul *ngFor="let error of errors?.password1">
              <li>{{error}}</li>
            </ul>
          </div>
        </div>
        <div class="login__sidebar__input">
          <label for="confirm_password" ></label>
          <input type="password"
                 name="password"
                 placeholder="  Confirm Password"
                 formControlName="confirm_password">
          <div *ngIf="errors?.password2" class="errors">
            <ul *ngFor="let error of errors?.password2">
              <li>{{error}}</li>
            </ul>
          </div>
          <div *ngIf="errors?.non_field_errors" class="errors">
            <ul *ngFor="let error of errors?.non_field_errors">
              <li>{{error}}</li>
            </ul>
          </div>
        </div>
        <button type="submit" class="login__sidebar__login" [disabled]="!signForm.valid">Sign Up</button>
        <p>{{ signForm.value | json }}</p>
      </form>
      <app-footer class="login__footer"></app-footer>
    </div>
  </section>
