@import "./mixins";
@import "./const";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
  @include md { font-size: 52.5%; }
  font-family: $font-primery;
}

.img {

  &__circle {
    border-radius: 50%;
  }
}

.btn {
  font-size: 1.6rem;
  background-color: $color-button;
  color: $color-text-button;
  text-align: center;
  padding: 1rem 2rem;
  border: none;
  outline: none;
}

form {
  outline: none;
}
