$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$color-primery: #00b3be;
$color-second: #91d763;
$color-white: #fff;
$color-grey: #4a4a4a;

$color-sidebar: #00b3be;
$color-button: #f2f2f2;
$color-border: #91d763;
$color-text-button: #4a4a4a;

$font-primery: "Arial Rounded MT Bold", Arial, sans-serif;
$font-secondary: "Myriad Pro-Regular", Arial, sans-serif;
